:root {
    --text-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --header-hero-btn-color: #FFFFFF;
    --hero-footer-bgrnd-color: #2F303A;
    --our-team-bgrnd-color: #F5F4FA;
    --social-links-color: #AFB1B8;
    --hero-bgrnd-color: rgba(47, 48, 58, 0.4);
    --portfolio-cards-border: 1px solid #EEEEEE;
    --specialization-text-bg-color: rgba(47, 48, 58, 0.8);
    --cards-overlay-bg-color: rgba(33, 150, 243, 0.9);
    --backdrop-overlay-bg-color: rgba(0, 0, 0, 0.2);
    --header-line-color: 1px solid #ECECEC;
}